    //asignación de varialbes
    $primary-color: #FFEFE7 ;
    $secondary-color: #FFDAC6 ;
    $terciary-color: #BABD8D ;
    $primary-text-color:#7C6A0A;
    $fourth-color:#FA9500 ;
    $font-stack: 'IBM Plex Sans', sans-serif; 
    //mediaQueries
    $mobile-width :  320px ;
    $tablet-width :  768px ;
    $destokp-width: 1025px ;
    /*  aplicacion de estilos en media Queries
                @media (min-width:$tablet-width) {
                border: 1px solid greenyellow;
            }
        este estilo se aplicaria despues de pasar los 768px en el width
    */
    $padding: 0px 20px ;

@mixin styles-h2(){ // subtitulos
    margin-bottom: 20px;
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 2.6rem;
    color: $primary-text-color;
    @media (min-width:$tablet-width) {
        font-size: 2.7rem;
        line-height: 3.2rem;
    }
    @media (min-width:$destokp-width) {
        @include styles-h3();
        font-size: 4rem;
    }
}

@mixin styles-h3(){
    font-size: 3rem;
    font-weight: 500;
    line-height: 3.9rem;
    color: $primary-text-color;
    @media (min-width:$destokp-width) {
        font-size: 4rem;
    }
}

@mixin styles-p(){  // parrafos-descripciones
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.3rem;
    color: $primary-text-color;
    @media (min-width:$tablet-width) {
        font-size: 2.4rem;
        line-height: 3rem;
    }
    @media (min-width:$destokp-width) {
        margin-top: 100px;
        margin-bottom: 100px;
        max-width: 700px;
        font-size: 3.5rem;
        line-height: 4rem;
    }
}

@mixin mediaQ-tablet__just-width($width){
    @media (min-width:$tablet-width) {
       width: $width ; 
    }
}
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-stack;
}

html{
    font-size: 62.5%;
}

body{
    background-color: $primary-color;
}

nav{
    width: 100%;
    padding: 2vh 2vw;
    display: flex;
    justify-content: space-between;

    h3{
        @include styles-h3();
    }
    div{
        display: flex;
        gap: 2.5vw;

        .pc-button{
            display: none;
            background: none;
            border: none;
            @media (min-width:$tablet-width) {
                display: flex;
            }
        }
        
        .mobile{
            background: none;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border: none;
            @media (min-width:$tablet-width) {
                display: none;
            }
        }
    }
}

main { 
    width: 100%;
}

article{
    padding: 20px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 80px;
    gap: 70px;
    @media (min-width:$tablet-width) {
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        margin-top: 50px;
    }

    .article__img{
        width: 100%;
        @media (min-width:$tablet-width) {
            width: 50%;
            max-width: 600px;
        }

        img{
            width: 100%;
            border-radius: 20px;
        }
    }

    .article__info{
        display: flex;
        flex-direction: column;
        width: 100%;
            // tablet -> width 50%
        @include mediaQ-tablet__just-width(50%);

        h1{
            margin-bottom: 50px;
            font-size: 2.8rem; 
            font-weight: 600;
            line-height: 3.6rem; 
            color: $primary-text-color;

            @media (min-width:$tablet-width) {
                font-size: 4rem ;
                line-height: 5rem;
            } 
            @media (min-width:$destokp-width) {
                font-size: 6rem;
            }
        }
        p{
            @include styles-p();
            
        }

        button{
            width: 200px;
            height: 50px;
            margin-top: 70px;
            padding: 5px;
            padding-top: 7px;
            align-self: center;
            background-color: $fourth-color;
            color: #ffffff;
            font-size: 1.8rem;
            font-weight: 600;
            border: none;
            border-radius: 25px;

            @media (min-width:$tablet-width) {
                align-self: self-start;
            }

            @media (min-width:$destokp-width) {
                width: 400px;
                height: 70px;
                font-size: 3rem;
                border-radius: 45px;
            }

            span{
                margin-left: 6px;
                vertical-align:middle; 

                .arrow-icon{
                    background-size: cover;
                    @media (min-width:$destokp-width) {
                        width: 50px;
                        height: 50px;
                    }                    
                }
            }
        }
    }
}

.health-products,
.home-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding;
    width: 100%;
    height: auto;
    h2{
        align-self: flex-start;
        @include styles-h2();
    }
}

.products__slice{
    overflow: auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 2500px;
    height: 500px;
    gap: 30px;
    @media (min-width:$destokp-width) {
        
    }

    .product-card{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1px;
        padding: 30px 25px;
        margin-top: 30px;
        margin-bottom: 50px;
        border-radius: 7px;
        background-color: $secondary-color;
    
        .product-like{
            position: absolute;
            align-self: flex-end;
            width: 30px;
            height: 30px;
            background: none;
            border: none;
            right: 5px;
            top: 5px;
        }
    
        .product-img{
            align-self: center;
            width: 180px;
            margin-bottom: 10px;
            border-radius: 7px;
            @media (min-width:$destokp-width) {
                width: 200px;
            }
        }
    
        .product-info{
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 2.3rem;
            color: $primary-text-color;
    
            .product-info__title{
                font-size: 1.7rem;
                font-weight: bold;
                line-height: 1rem;
            }
        }
    }
}

.products__slice::-webkit-scrollbar,
.products__slice::-webkit-scrollbar-thumb{
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
}

.products__slice::-webkit-scrollbar-thumb{
    background: #ccc;
    border-radius: 4px;
}

.products__slice::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.home-products .products__slice{
    margin-bottom: 80px;
    .product-card{
        background-color: $terciary-color;
        .product-info{
            color: $primary-color;
        }
    }
}

.about-us{
    padding: $padding;
    margin-bottom: 80px;

    .about-us__content{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 10vh;
        @media (min-width:$tablet-width) {
            gap: 0px;
            padding: 0 10px;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .about-us__title h2{
        @include styles-h2();
    }

    .earth,
    .ecology{
        display: flex;
        flex-direction: column;
        width: 40%;
        align-self: center;
        align-items: center;
        justify-content: center;

        @media (min-width:$tablet-width) {
            flex-direction: row;
            gap: 20px;
        }



        p{
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.8rem;
            text-align: center;
            color: red;
            @media (min-width:$tablet-width) {
                width: 200px;
            }
            @media (min-width:$destokp-width) {
                font-size: 2.9rem;
                font-weight: 200;
                line-height: 4rem;
                width: 400px;
            }
        }
    }

    .earth-logo{
        width: 100px;
        height: 100px;
        @media (min-width:$destokp-width) {
            width: 200px;
            height: 200px;
        }
    }
    .ecology-logo{
        width: 130px;
        height: 130px;
        @media (min-width:$destokp-width) {
            width: 200px;
            height: 200px;
        }
    }

}

.gallery{
    padding: $padding;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        @include styles-h2();
        align-self: flex-start;
        margin-bottom: 50px;
    }

    .gallery__div{
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 45px;
        margin-bottom: 80px;
        @media (min-width:$tablet-width) {
            overflow: auto;
            flex-direction: row;
        }
        @media (min-width:$destokp-width) {
            justify-content: center;
        }

        img{
            width: 100%;
            align-self: center;
            max-width: 300px;
            @media (min-width:$tablet-width) {
                max-width: 200px;
            }
            @media (min-width:$destokp-width) {
                max-width: 450px;
            }
        }
    }
}

.gallery__div::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display: none;  /* Ocultar scroll */
}

.find-us{
    padding: $padding;
    display: flex;
    flex-direction: column;
    gap: 15px;
    h2{
        @include styles-h2();
    }

    #map-mobile{
        align-self: center;
        width: 90%;
        height: 400px;
        border-radius: 7px;
        background-repeat: no-repeat;

        @media (min-width:500px) {
            display: none;
        }
    }
    #map-tablet{
        width: 90%;
        display: none;
        @media (min-width:500px) {
            display: flex;
            align-self: center;
            max-width: 1024px;
        }
    }


    h3{
        @include styles-h3();
        color: #E86424;
        @media (min-width:$destokp-width) {
            text-align: center;
        }
    }
    p{
        @include styles-p();
        color: #E86424;
        margin-bottom: 100px;
        @media (min-width:$destokp-width) {
            align-self: center;
            margin-top: 20px;
        }
    }
}

footer{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 200px;
    padding: $padding;
    background-color: $fourth-color;
    @media (min-width:$tablet-width){
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    @media (min-width:$destokp-width) {
        height: 150px;
    }

    h2{
        font-size: 3rem;
        font-weight: 300;
        line-height: 1.5rem;
        color: #ffffff;
    }

    div{
        display: flex;
        gap: 20px;
    }
    button{
        background: none;
        border: none;
        .footer-button{
            width: 50px;
            height: 50px;
        }
    }
}
















